.post {
  > * {
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
  }

  a {
    color: #03c;
    text-decoration: underline;
  }

  a:hover {
    color: white;
    background-color: #03c;
    text-decoration: none;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-top: 0.5rem;
  }

  table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    border: 1px solid black;
    padding: 0.25rem;
  }

  pre > code {
    font-size: 0.9rem;
    overflow-x: auto;
  }

  hr {
    border: 1px solid #aaa;
  }
}
