@import "tailwindcss";
@import "highlight.js/styles/base16/railscasts.css" layer(base);

@theme {
  /* Color */
  --background-color-primary: #ffffff;
  --background-color-secondary: #fafafa;
  --background-color-link: #03c;
  --text-color-primary: #11181c;
  --text-color-link: #03c;
  --color-border: #e5e7eb; /* --border-color-primary が効かないので代用する */

  /* Font */
  --font-sans: Verdana, Meiryo, sans-serif;
  --font-mono: Menlo, Consolas, monospace;
}

@layer components {
  .post {
    @apply space-y-8;

    h1 {
      @apply text-2xl font-bold;
    }

    h2 {
      @apply text-xl font-bold;
    }

    p {
      @apply leading-6;
    }

    a {
      @apply text-link underline hover:bg-link hover:text-white hover:no-underline;
    }
  }
}
