@import "tailwindcss";
@import "highlight.js/styles/base16/railscasts.css" layer(components);

@theme {
  /* Color */
  --background-color-primary: #ffffff;
  --background-color-dark-primary: #000000;
  --background-color-secondary: #fafafa;
  --background-color-dark-secondary: #18181b;
  --background-color-link: #03c;
  --text-color-primary: #11181c;
  --text-color-dark-primary: #e6e1dc;
  --text-color-link: #03c;
  --text-color-dark-link: #849dff;
  /* --border-color-* が効かないので代用する */
  --color-border: #e5e7eb;
  --color-dark-border: #282828;

  /* Font */
  --font-sans: Verdana, Meiryo, sans-serif;
  --font-mono: Menlo, Consolas, monospace;
}

@layer base {
  * {
    @apply text-primary dark:text-dark-primary;
  }

  .post {
    @apply space-y-8;

    h1 {
      @apply text-xl font-bold border-b border-border pb-2 mb-4;
    }

    h2 {
      @apply text-lg font-bold mb-4;
    }

    p {
      @apply leading-6;
    }

    a {
      @apply text-link underline hover:bg-link hover:text-white hover:no-underline dark:text-dark-link;
    }

    img {
      @apply mx-auto;
    }

    ul,
    ol {
      @apply list-disc pl-6 space-y-2;
    }

    li {
      @apply leading-6;
    }

    li > ul,
    li > ol,
    li > pre {
      @apply mt-2;
    }

    pre span {
      @apply text-dark-primary;
    }

    table {
      @apply border border-border mx-auto;
    }

    th,
    td {
      @apply border border-border px-2 py-1;
    }

    hr {
      @apply border border-border;
    }
  }
}
