:where(.content) {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  div {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  li {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 0.5rem;
  }

  ul > li {
    list-style: disc;
  }

  ol > li {
    list-style: decimal;
  }

  pre {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 1rem;
    overflow-x: auto;
  }

  table {
    margin: 2rem auto;
    border: 1px solid #737373;
  }

  th {
    padding: 0.5rem;
    border: 1px solid #737373;
    font-weight: bold;
  }

  td {
    padding: 0.5rem;
    border: 1px solid #737373;
  }

  hr {
    margin: 2rem 0;
  }

  a {
    text-decoration: underline;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  svg {
    margin: 0 auto;
  }
}

/* コンフリクトにより崩れたKifuPlayerのスタイルを調整する */
.kifu-player {
  margin: 2rem 0;

  table {
    margin: 0;
    border: none;
  }

  td {
    padding: 0;
  }

  .hand {
    margin-bottom: 0;
  }

  .navigation {
    margin-bottom: 0;
  }

  .column-number {
    border: none;
  }

  .row-number {
    border: none;
    padding-left: 0.5rem;
  }
}
